--no-use-wheel --no-index --require-hashes

# This is pip requirements.txt file specifying the pinned Python
# dependencies for running a Bandwidth Authority.
#
# To use this file, first ensure that you've got a *recent* version
# of pip.  If you already have pip, do:
#
#     $ pip install --upgrade pip
#
# Note that previous versions of this project used peep -- hash checking is now
# a fully supported feature of the base pip tool (as of 8.0).
#
# To use this file, do:
#
#     $ pip install -r requirements.txt
#

pysqlite==2.8.3 --hash=sha256:17d3335863e8cf8392eea71add33dab3f96d060666fe68ab7382469d307f4490

SQLAlchemy==0.7.8 --hash=sha256:13daccf34a660ab4708766bb18f49b50368bdbd6a1a8b409104f725f7f562dc8

Elixir==0.7.1 --hash=sha256:a7ef437f25b544e4f74fb3236fc43cd25f5d6feb6037dd7c66931046d75439e9
